.Image {
    position: absolute;
    /*margin: 0px auto;*/
    top: 60px;
    /*height: 400px;*/
    /*left: 20%;*/
    /*width: 400px;*/
}

.header_css{
    top:200px;
    background-color: #ffffff;
}
.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
    opacity: 1;
}

.example-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
    opacity: 0;
}

.link-active {
    color: #bbbbbb;
    text-decoration: none;
}